/config/packages/parameters.yml
/build/
/vendor/

/bin/doctrine
/bin/doctrine.php
/bin/security-checker
/bin/doctrine-migrations

/.env
/.allow_unsafe_bins
/bin/dump-and-load-prod-data
/sitemap.*
/bin/doctrine
/bin/doctrine.php
/bin/security-checker
/bin/doctrine-migrations
/node_modules/
!/public/assets/build
/.env
/vendor-bin/**/vendor
/.php_cs.cache
/var/
/public/bundles/
/public/css/*
/public/js/*
/public/assets/*
/public/assets/images/*
!/public/assets/images/.gitignore
/public/assets/audios/*
!/public/assets/audios/.gitignore
