/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/

/bin/doctrine
/bin/doctrine.php
/bin/security-checker
/bin/doctrine-migrations

/web/bundles/*
/web/css/*
/web/js/*
/web/assets/*
/web/assets/images/*
!/web/assets/images/.gitignore
/web/assets/audios/*
!/web/assets/audios/.gitignore
/var/dump/*
!/var/dump/.gitkeep
!/var/tmp/.gitkeep
/var/db-dumps/*
/web/sitemap.*
/.env
/.allow_unsafe_bins
/bin/dump-and-load-prod-data
/sitemap.*
/bin/doctrine
/bin/doctrine.php
/bin/security-checker
/bin/doctrine-migrations
