/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/composer.phar

/bin/doctrine
/bin/doctrine.php
/bin/security-checker
/bin/doctrine-migrations

/web/css/*
/web/js/*
/web/assets/
/var/*
/web/sitemap.*
/.env
/.allow_unsafe_bins
/sitemap.*
