<div class="sidebar-block tags">
    <h3>{{ 'Tags Cloud'|trans }}</h3>
{% for tag in tags %}
    <a class="tag"
       href="{{ path('harentius_blog_list', {'filtrationType': 'tag', 'criteria': tag.slug}) }}"
       style="font-size: {{ tag.percentage }}%"
    >
        {{ tag.name }}
    </a>
{% endfor %}
</div>
