parameters:
    database_host: mysql
    database_port: null
    database_name: folkprog
    database_user: root
    database_password: 1111

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    secret:            c3f38db32e345346c1965fa7573944508f739b8a

    nodejs.path: ~
    nodejs.modules_path: ~

    vk_appi_id: 5025064

    google_analytics.id: UA-40176382-1
    google_analytics.hostname: auto
    discuss_user_name: folkprog
