{% for article in articles %}
    <article>
        <h2><a href="{{ path('blog_show', {'slug': article.slug}) }}">{{ article.title }}</a></h2>
        <div>{{ article.text|read_more }}</div>
    </article>
{% endfor %}
