{% extends 'HarentiusBlogBundle::base.html.twig' %}

{% block content %}
<div class="padded-content">
    <h1>{{ page.title }}</h1>
    <div>{{ page.text|raw }}</div>
</div>
{% include('HarentiusBlogBundle:Blog:_articles.html.twig') %}
<div class="paginator">
    {{ knp_pagination_render(articles) }}
</div>
{% endblock %}
