{% extends 'HarentiusBlogBundle::base.html.twig' %}

{% block content %}
<article>
    {% for article in articles %}
        <h2><a href="{{ path('blog_show', {'slug': article.slug}) }}">{{ article.title }}</a></h2>
        <div>{{ article.text }}</div>
    {% endfor %}
</article>
{% endblock %}
