{% extends 'HarentiusBlogBundle::base.html.twig' %}

{% block content %}
    {% include('HarentiusBlogBundle:Blog:_articles.html.twig') %}

    <div class="paginator">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
