{% extends '@!HarentiusBlog/base.html.twig' %}

{% block head_extra %}
    {% if app.environment == 'prod' %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8463813510139079",
        enable_page_level_ads: true
      });
    </script>
    {% endif %}
{% endblock %}

{% block footer_content %}
<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-left footer-widgets">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 footer-copyright">
        <p>© <a href="{{ url('harentius_blog_homepage') }}">folkprog.net</a>, 2012-{{ 'now'|date('Y') }}</p>
        <p>All right reserved.</p>
        <p>Копирование материалов не запрещается.</p>
        <p>За указание ссылки на источник - спасибо.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3 text-right footer-widgets">
        <a href="http://adment.org.ua" target="_blank">
            <img width="88" height="31" src="/banners/adment_88_31.png" alt="Админские развлечения - танцы с бубном на досуге" title="Админские развлечения - танцы с бубном на досуге"/>
        </a>
    </div>
</div>
{% endblock %}

{% block sidebar_after_content %}
    {% if app.environment == 'prod' %}
        <!-- folkprog regular -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-8463813510139079"
             data-ad-slot="8719005747"
             data-ad-format="auto"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    {% endif %}
{% endblock %}

