{% extends '@!HarentiusBlog/navbar.html.twig' %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('harentius_blog_homepage') }}">
        <img src="{{ asset('build/images/logo.png') }}" alt="logo"/>
    </a>
{% endblock %}
