{% extends 'HarentiusBlogBundle::_base.html.twig' %}

{% block common_stylesheets %}
     {{ parent() }}
    {% stylesheets
        'bundles/harentiusfolkprog/css/main.less'
    %}
    <link href="{{ asset_url }}" media="all" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block footer_content %}
    <p>© <a href="{{ url('harentius_blog_homepage') }}">folkprog.net</a>, 2012-{{ 'now'|date('Y') }}</p>
    <p>All right reserved.</p>
    <p>Копирование материалов не запрещается.</p>
    <p>За указание ссылки на источник - спасибо.</p>
{% endblock %}
