<div class="languages-wrapper float-right">
    {% set translations = translations_list(entity) %}
    {% set articel_default_locale = resolve_default_locale(entity)  %}

    {% if translations|length > 1 %}
        {% for locale in translations %}
            {% if articel_default_locale == locale %}
                <span>{{ locale }}</span>
            {% else %}
                <a href="{{ publication_path(entity, locale) }}">{{ locale }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
