{% extends '@!HarentiusBlog/Blog/index.html.twig' %}

{% block page_title %}
    {%- if page %}{{ get_field(page, 'title') }}{% endif -%}
{% endblock %}

{% block content %}
    {% if page %}
    <div class="padded-content">
        <h1>{{ get_field(page, 'title') }}</h1>
        <div>{{ get_field(page, 'text')|raw }}</div>
    </div>
    {% endif %}

    {% include('@HarentiusBlog/Blog/_articles.html.twig') %}

    {{ knp_pagination_render(articles) }}
{% endblock %}
