// Last selector - for correct preview inside Ckeditor
figure, img {
  &[style*="float:right"] {
    margin: 15px 0 15px 15px;
  }

  &[style*="float:left"] {
    margin: 15px 15px 15px 0;
  }
}

figcaption {
  text-align: center;
}
