h1 {
  margin: 0 0 10px 0;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 21px;
}

body {
  background: url('../img/images_frontend.png') repeat;
}

figure, img {
  &[style*="float:right"] {
    margin: 15px 0 15px 15px;
  }

  &[style*="float:left"] {
    margin: 15px 15px 15px 0;
  }
}

figcaption {
  text-align: center;
}

.display-none {
  display: none;
}

.container {
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}

.padded-content {
  padding: 10px;
}

.page-content {
  img {
    max-width: 826px;
  }
}

.main-menu-wrapper {
  margin: 15px 0;

  ul {
    list-style: none;
    padding: 0;

    li {
      float: left;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}

.sidebar-block {
  margin: 20px 0;

  ul {
    padding-left: 15px;
  }

  h3 {
    margin: 0;
  }

  &.categories {
    li:before {
      margin-right: 5px;
    }
  }

  &.tags {
    font-size: 18px;

    a {
      margin-right: 10px;
    }
  }

  &.archive {
    > ul {
      list-style: none;

      ul {
        padding-left: 35px;
      }
    }
  }
}

.months-expander {
  cursor: pointer;

  &:hover {
    color: #6ca4ab;
  }
}

.post-preview-wrapper {
  margin: 15px 0;

  h2 {
    margin: 0 0 5px 0;
  }
}

.post-info {
  i:before {
    margin-right: 1px;
  }

  span {
    margin-right: 2px;
  }

  .post-stats {
    span:not(:last-child):after {
      content: '|';
      margin-left: 4px;
    }
  }

  .post-tags {
    span:not(:last-child):after {
      content: ',';
    }
  }
}

.social-and-shares-wrapper {
  margin-top: 15px;

  .social-wrapper {
    height: 22px;
  }

  .likes-wrapper {
    font-size: 17px;

    i {
      font-family: FontAwesome, serif;

      &:not(.disabled){
        cursor: pointer;
      }
    }

    span {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    .like {
      color: #27872b;

      i:not(.disabled):hover {
        color: #32c336;
      }
    }

    .dislike {
      color: #8f231d;

      i:not(.disabled):hover {
        color: #c32620;
      }
    }
  }
}

// Socials
.b-share_theme_counter, .vk-like {
  display: inline-block;
}

.b-share_theme_counter {
  height: 22px;
}

.vk-like iframe{
  margin-bottom: 1px;
}

.b-share_theme_counter .b-share {
  // Need important, because plugin inlines styles
  vertical-align: baseline !important;
  padding: 0 !important;
}

.vk-comments {
  margin-top: 20px;
}
